.explainerRectangle {
  height: 50vh;
  width: 40vw;
  margin-top: 140px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffccd2;
  display: inline-block;
  position: absolute;
  font-family: Verdana, sans-serif;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  border-radius: 10px;
  max-height: 250px;
  min-width: 280px;
}
