<div class="overlayBtn explainerRectangle" style="color: rgb(70, 70, 70)">
  <div
    style="
      margin-left: 20px;
      margin-top: 20px;
      word-wrap: normal;
      margin-right: 10px;
    "
  >
    <p>
      <b>Hello! I'm Kathy, a programmer who specializes in spatial data.</b>
      <br />
      <br />Through my current job, I have gained experience with web
      development, which led me to build this app. <br /><br />Here, you can:
    </p>
    <div class="flex-container">
      <mat-icon style="margin-top: -5px; margin-right: 10px; font-size: 30px"
        >face</mat-icon
      >

      Read where I've been and where I'm going
    </div>
    <div class="flex-container" style="margin-top: 15px">
      <mat-icon style="margin-top: -5px; margin-right: 10px; font-size: 30px"
        >travel_explore</mat-icon
      >Search my CV via an interactive map
    </div>
    <!--  <div
      style="
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ffdf7e;
        cursor: pointer;
        margin-top: -45px;
        margin-left: 280px;
      "
      matTooltip="Espanol"
    >
      <mat-icon style="text-align: right; margin-top: 8px; margin-left: 8px">
        translate
      </mat-icon> 
    </div> -->
  </div>
</div>
