.overlayBtn {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.selectedColor {
  background-color: rgb(204, 204, 204);
}
.notSelectedColor {
  background-color: #ffdf7e;
}
.homeDot {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
}
.aboutDot {
  height: 80px;
  width: 80px;
  margin-top: 20px;
  margin-left: 120px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.resumeDot {
  height: 80px;
  width: 80px;
  margin-top: 20px;
  margin-left: 220px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.kdFont {
  font-size: 14px;
  font-family: cursive;
  align-self: left;
  margin-left: 1vw;
  margin-top: 96vh;
  position: absolute;
  color: gray;
}
