<div
  id="homeButton"
  class="selectedColor overlayBtn homeDot"
  matTooltip="Home"
  (click)="changeView('home')"
>
  <mat-icon
    style="color: gray; margin-top: 15px; font-size: 50px; margin-left: -25px"
    >home</mat-icon
  >
</div>
<div
  id="aboutButton"
  class="notSelectedColor overlayBtn aboutDot"
  matTooltip="About Me"
  (click)="changeView('about')"
>
  <mat-icon
    style="color: gray; margin-top: 15px; font-size: 50px; margin-left: -25px"
    >face</mat-icon
  >
</div>

<div
  id="resumeButton"
  class="notSelectedColor overlayBtn resumeDot"
  matTooltip="Search CV"
  (click)="changeView('resume')"
>
  <mat-icon
    style="color: gray; margin-top: 15px; font-size: 50px; margin-left: -25px"
    >travel_explore</mat-icon
  >
</div>

<div [hidden]="!displayFilters">
  <app-filters></app-filters>
</div>
<div [hidden]="!displayWelcome">
  <app-welcome> </app-welcome>
</div>
<div [hidden]="!displayAboutMe">
  <app-aboutme></app-aboutme>
</div>
