<div class="explainerRectangle" style="color: gray">
  <div style="margin-top: 5px">
    <div class="flex-container">
      <img
        style="
          width: 200px;
          height: 200px;
          margin-top: 15px;
          margin-left: 15px;
          border-radius: 50%;
        "
        [src]="'assets/kmd.jpg'"
        alt="image"
      />
      <div
        class="flex-child"
        style="margin-left: 20px; margin-top: 15px; color: rgb(70, 70, 70)"
      >
        <b style="font-family: Arial, Helvetica, sans-serif; font-size: 20px"
          >Kathy Dooley</b
        ><br /><br />
        I enjoy teaching because I get to interact with students. I find that
        working with students is rewarding, engaging, and never dull. I’m able
        to relate to all kinds of student mindsets, and I try to make my
        instruction accessible to everyone, regardless of their inherent
        interest in the subject matter, willingness to participate in class, or
        natural ability to understand the concepts. <br /><br />
        I spend my free time with family and friends. Potlucks, card games,
        walks around the neighborhood, and solving puzzles are all common
        activities. I also find joy in being active: I have completed an
        ultramarathon every year for the past eleven years, and, depending on
        the season, I attach my skis or kayak to my bike, while exploring as
        many parks and lakes as I can!
      </div>
    </div>

    <br />
    <div
      style="margin-left: 20px; color: rgb(70, 70, 70)"
      class="flex-container"
    >
      <div style="width: 45vw"><b>Teaching experience</b></div>
      <div style="width: 45vw"><b>Student evaluations* </b></div>
    </div>
    <div
      style="margin-left: 20px; color: rgb(70, 70, 70)"
      class="flex-container"
    >
      <br />
      <div
        style="
          background-color: #ffdf7e;
          height: 25vh;
          max-height: 210px;
          width: 45vw;
          margin-right: 20px;
          margin-top: 5px;
          border-radius: 7px;
          cursor: ns-resize;
          overflow-y: scroll;
        "
      >
        <div
          style="
            margin-right: 5px;

            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
          "
        >
          In 2017, I co-founded an aerospace education program, Destination
          SPACE (Satellite Program for Aerospace-Centered Education) with my
          supervisor and two colleagues from a NASA internship. Our goal is to
          offer hands-on, stimulating curriculum for students from backgrounds
          underrepresented in the aerospace field. We began by offering a
          week-long summer program where students built their own weather
          sensors, launched them on weather balloons, and analyzed the data.
          <br />
          <br />Five years later, Destination SPACE has expanded to offer
          instruction in four states and has partnered with several agencies and
          institutions in order to continuing reaching diverse and talented
          students. I have gained experience developing and teaching curriculum,
          writing grants, planning events, communicating with collaborators, and
          mentoring students. <br /><br />
          One of my first jobs out of college was working with Wilderness
          Inquiry, an organization committed to making outdoor education and
          recreation accessible to everyone, regardless of income, experience,
          or physical or cognitive abilities. As an Outdoor Leader, I helped
          participants gain confidence in outdoor skills, such as canoeing, fire
          building, camping, cooking, and leadership. <br /><br />I have also
          been a teaching assistant for four college semesters. As an undergrad
          I TA'ed two photography courses, in which I helped students learn
          Photoshop, organize their portfolios, and develop film. In grad
          school, I was lucky enough to teach a lab section for Weather and
          Climate twice. I enjoyed encouraging students to become interested in
          climate science and meteorology, as I tried my best to keep lab
          sessions fun and informative.
        </div>
      </div>
      <div
        style="
          background-color: #ffdf7e;
          height: 25vh;
          max-height: 210px;
          width: 45vw;
          margin-right: 20px;
          margin-top: 5px;
          border-radius: 7px;
          overflow-y: scroll;
          cursor: ns-resize;
        "
      >
        <div
          id="evalID"
          style="
            margin-right: 5px;

            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
          "
        ></div>
      </div>
    </div>
    <div
      style="
        margin-left: 20px;
        margin-top: 5px;
        margin-right: 20px;
        color: rgb(70, 70, 70);
      "
    >
      *I was a TA for Weather and Climate, and these are student responses from
      an anonymous end-of-semester feedback form.
    </div>
  </div>
</div>
